:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.mat-form-field{
    width: 100%;
    min-width: 300px;
}

.mat-card-title{
    display: flex;
    justify-content: center;
}

.mat-card-content{
    display: flex;
    justify-content: center;
}

.boton{
    margin-top: 10px;
    width: 100%;
}

.alert-success{
    color: #ecf0f1;
    background: #2ecc71;
    border-color: #f5c6cb;
    margin-bottom: 5px;
}
.container-success{
    padding: 3px;
}